<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cdut.rg.bbj.dao.GoodsMapper">
  <resultMap id="BaseResultMap" type="cdut.rg.bbj.pojo.Goods">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Picture_Link" jdbcType="VARCHAR" property="pictureLink" />
    <result column="Price" jdbcType="REAL" property="price" />
    <result column="Title" jdbcType="VARCHAR" property="title" />
    <result column="Shop" jdbcType="VARCHAR" property="shop" />
    <result column="Web_Link" jdbcType="VARCHAR" property="webLink" />
    <result column="Likes" jdbcType="INTEGER" property="likes" />
    <result column="Kind" jdbcType="VARCHAR" property="kind" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cdut.rg.bbj.pojo.Goods">
    insert into goods (ID, Picture_Link, Price, 
      Title, Shop, Web_Link, 
      Likes, Kind)
    values (#{id,jdbcType=INTEGER}, #{pictureLink,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, 
      #{title,jdbcType=VARCHAR}, #{shop,jdbcType=VARCHAR}, #{webLink,jdbcType=VARCHAR}, 
      #{likes,jdbcType=INTEGER}, #{kind,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cdut.rg.bbj.pojo.Goods">
    update goods
    set Picture_Link = #{pictureLink,jdbcType=VARCHAR},
      Price = #{price,jdbcType=REAL},
      Title = #{title,jdbcType=VARCHAR},
      Shop = #{shop,jdbcType=VARCHAR},
      Web_Link = #{webLink,jdbcType=VARCHAR},
      Likes = #{likes,jdbcType=INTEGER},
      Kind = #{kind,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ID, Picture_Link, Price, Title, Shop, Web_Link, Likes, Kind
    from goods
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, Picture_Link, Price, Title, Shop, Web_Link, Likes, Kind
    from goods
  </select>
  <select id="selectKind" resultMap="BaseResultMap">
    select ID, Picture_Link, Price, Title, Shop, Web_Link, Likes, Kind
    from goods
    where kind = #{kind,jdbcType=VARCHAR}
    limit #{page},100
  </select>
  <select id="countGoods">
    select count(id)
    from goods
  </select>
</mapper>