<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cdut.rg.bbj.dao.UserMapper">
  <resultMap id="BaseResultMap" type="cdut.rg.bbj.pojo.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_sex" jdbcType="VARCHAR" property="userSex" />
    <result column="user_age" jdbcType="INTEGER" property="userAge" />
    <result column="user_tel" jdbcType="VARCHAR" property="userTel" />
    <result column="is_manager" jdbcType="VARCHAR" property="isManager" />
    <result column="user_pic" jdbcType="VARCHAR" property="userPic" />
    <result column="user_answer" jdbcType="VARCHAR" property="userAnswer" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cdut.rg.bbj.pojo.User">
    insert into user (user_id, user_account, user_password,
                      user_sex, user_age, user_tel,
                      is_manager, user_pic, user_answer
    )
    values (#{userId,jdbcType=INTEGER}, #{userAccount,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR},
            #{userSex,jdbcType=VARCHAR}, #{userAge,jdbcType=INTEGER}, #{userTel,jdbcType=VARCHAR},
            #{isManager,jdbcType=VARCHAR}, #{userPic,jdbcType=VARCHAR}, #{userAnswer,jdbcType=VARCHAR}
           )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cdut.rg.bbj.pojo.User">
    update user
    set user_account = #{userAccount,jdbcType=VARCHAR},
        user_password = #{userPassword,jdbcType=VARCHAR},
        user_sex = #{userSex,jdbcType=VARCHAR},
        user_age = #{userAge,jdbcType=INTEGER},
        user_tel = #{userTel,jdbcType=VARCHAR},
        is_manager = #{isManager,jdbcType=VARCHAR},
        user_pic = #{userPic,jdbcType=VARCHAR},
        user_answer = #{userAnswer,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select user_id, user_account, user_password, user_sex, user_age, user_tel, is_manager,
           user_pic, user_answer
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, user_account, user_password, user_sex, user_age, user_tel, is_manager,
           user_pic, user_answer
    from user
  </select>
  <select id="selectByUserAccount" parameterType="java.lang.String" resultMap="BaseResultMap">
    select user_id, user_account, user_password, user_sex, user_age, user_tel, is_manager,
           user_pic, user_answer
    from user
    where user_account = #{userAccount,jdbcType=VARCHAR}
  </select>
</mapper>